@import url(http://fonts.googleapis.com/css?family=Raleway:400,700|Open+Sans:400,300,700);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

// customize bootstrap variables here:
@import "variables";
@import "bootstrap"; // main bootstrap import
@import "calendar";  // google calendar customizations
@import "retina";    // for 2x images (apple retina displays)
@import "compass/css3/";

/*$header-bg: #2c3e50;*/
/*$header-bg: #4859D0;*/
/*$header-bg: #313CA3;*/
$header-bg: #0431b4;

$light-30: lighten($header-bg, 30%);
$light-20: lighten($header-bg, 20%);
$light-10: lighten($header-bg, 10%);
$dark-10: darken($header-bg, 10%);
$dark-20: darken($header-bg, 20%);
$dark-30: darken($header-bg, 30%);

#colors div {
  width: 100px;
  height: 100px;
  float: left;
}

.base-color-light-30 { background-color: $light-30; }
.base-color-light-20 { background-color: $light-20; }
.base-color-light-10 { background-color: $light-10; }
.base-color { background-color: $header-bg; }
.base-color-dark-10 { background-color: $dark-10; }
.base-color-dark-20 { background-color: $dark-20; }
.base-color-dark-30 { background-color: $dark-30; }


// required wp stuff
.sticky {  }
.gallery-caption {}
.bypostauthor {}

// image overrides

img {
  height: auto;

  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  &.alignleft {
    clear: left;
    float:left;
    margin:0 1em 1em 0
  }

  &.alignright {
    clear: right;
    float:right;
    margin:0 0 1em 1em
  }

}

// crazy bootstrap and wordpress collisions
.carousel-caption {
  background: rgba(0,0,0, 0.8);
  @include border-radius(10px);
}


.exerpt-read-more {
  text-align: right;
}

// css

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "Open Sans", sans-serif;
}

#main {
  margin-top: 15px;
}

nav.wp-prev-next {
  background-color: #fff;
  .previous { float: left; }
  .next { float: right; }
}

#header {
  background: $header-bg;
  height: 80px;
  /*padding-top: 50px;*/
  /*padding-bottom: 50px;*/

  .logo {
    font-size: 36px;
    margin-bottom: 10px;
    img { margin-top: 12px; }
    .name { vertical-align: bottom; }
  }

  a, a:hover {
    color: #fff;
    &:hover { text-decoration: none; }
  }

  .navbar-form {
    margin-top: 20px;
  }
}

nav {
  /*background-color: lighten($header-bg, 20%);*/
  background-color: darken($header-bg, 10%);
  a {
    color: #fff;
  }
}

// Bootstrap overrides
.navbar {
  margin-bottom: 0;
}

.navbar-form {
  margin-top: 30px;
}

.page-header {
  margin: 20px 0;
}

.closing-alert {
  margin-top: 15px;
}

// accordion
#accordion {
  padding-left: 15px;
  /*$accordion-bg: #E8760C;*/

  /*.panel-heading {*/
    /*background-color: $accordion-bg;*/
    /*color: #fff;*/
  /*}*/

  .gce-page-list {
    p.pull-right { padding-right: 1em; }

    ul {
      list-style: none;
      padding-left: 0;
      font-family: $font-family-serif;

      li {
        margin: 1em;
        /*margin-bottom: 1em;*/
        /*padding-bottom: 1em;*/
        border-bottom: 1px dotted #ccc;

        .deck {
          font-style: italic;
          color: $gray-dark;
        }

        p {
          margin: 0;
        }

        h3 {
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          line-height: 1em;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

section {
  /*margin-bottom: 40px !important;*/

  #accordion {
  }

  .carousel {
    height: 500px;
    margin-bottom: 30px;

    .carousel-caption { z-index: 10; }

    .item {
      height: 500px;
      background-color: #777;

      & > img {
        positon: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 500px;
      }
    }

  }
}

//TODO figure is this is better
.item-icon {
  text-align: center;
  padding: 20px;

  i {
    font-size: 9em;
    color: #00708c;
  }
  .item-content {
    font-size: 0.9em;
    line-height: 1.6em;
    background-color: #00708c;
    color: #fff;
    padding: 20px;
    height: 240px;
    position: absolute;
    z-index: 10;
    left: 0;
    @include transition(all 0.4s linear);

    h3 {
      font-size: 1.3em;
      margin: 5px 0 20px 0;
      font-weight: 400;
    }

    p {
      margin: 0 0 10px;
    }
  }
}

.paddit {
  padding-bottom: 40px;
}

// TODO fix this
.resources ul {
	padding: 0;

}
.resources li,
.resources li:hover li,
.resources li:hover {
  @include transition(width 0.3s);
}
.resources li {
	list-style-type: none;
	float: left;
	background: $gray-lighter;
	padding: 20px;
	margin-right: 1px;
	text-align: center;
	/*color: #888;*/
	color: lighten($header-bg, 25%);
  width: 227px;
	height: 100px;
}
.resources li p {
	overflow: hidden;
	white-space: nowrap;
}
.resources li p a {
	visibility: hidden;
}
.resources ul:hover li{
   width: 201px;
}
.resources li:hover {
   width: 328px !important;
   /*background: #507192;*/
   background: lighten($header-bg, 25%);
   cursor: pointer;
   color: #FFF;
   text-align: left;
}
.resources li:hover i {
	float: left;
	line-height: 60px;
	margin: 0 20px 0 5px;
}
.resources li:hover p a {
	visibility: visible;
	color: #FFF;
}

.block-header {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 300;
  color: #515151;
  text-transform: uppercase;
}

.thumbnail {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;

  & > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid $gray-lighter;
  }

  &:hover .visit {
    opacity: 1;
    @include transition(all 0.3s);
  }

  .visit {
    position: absolute;
    opacity: 0;
    width: 100%;
    text-align: center;
    top: 80px;
    @include transition(all 0.3s);

    a {
      color: #fff;
      text-transform: uppercase;
      background: rgba(0,0,0,0.5);
      padding: 10px 20px;
    }
  }

  .caption {
    padding: 10px;
    color: $gray-dark;

    h4 {
      text-transform: uppercase;
    }
  }
}

footer[role="footer"] {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $gray-light;

  .headline {
    border-bottom: 1px dotted #fff;
    margin-bottom: 20px;

    h3 {
      text-transform: uppercase;
      font-weight: 100;
    }

  }

  .social {
    ul {
      color: #fff;
      font-size: 24px;
      margin: 0;
      padding: 0;

      li {
        float: left;
        display: block;
        list-style-type: none;
        width: 28px;
        height: 28px;
        background: $gray-lighter;
        margin: 0 5px 5px 0;
        text-align: center;
        line-height: 28px;

        @include transition(background 0.1s);

        a {
          @include transition(color 0.1s);
        }
      }
    }
  }
}

.legal {
  background: $gray-dark;
  padding: 20px 0 10px 0;
  color: #fff;
  font-weight: 300;
}


// engagement test
#engage {
  /*$engage-bg: #4baad3;*/
  $engage-bg: #066ccb;

  background: $engage-bg;
  /*background: #34495e;*/
  color: #fff;

  .inner {
    padding-top: 36px;
    padding-bottom: 30px;

    h2 {
      text-align: center;
      font-size: 28px;
    }

    font-size: 28px;
    font-weight: 400;
    text-align: center;

    .button {
      background: #3a9ac4;
      padding: 15px !important;
      margin-bottom: 10px;
      @include border-radius(5px);
      @include transition(background 0.6s);

      a {
        color: #fff;

        &:hover {text-decoration: none;}
      }

      &:hover {
        /*background: #235c75;*/
        background-color: darken($engage-bg, 20%);
        cursor: pointer;
      }
    }
  }
}

// Page
.breadcrumb {
  float: right;
  margin: 0;
  padding: 16px;
  background: none;
  border-radius: 0;

  .active {
    color: $gray-dark;
  }
}

.focus-block {
  border-bottom: 1px solid lighten($header-bg, 20%);
  background: $gray-lighter;
  padding: 20px;
  margin: 2em 0;

  h3 {
    margin-top: 0;
  }

  p {
    font-size: 1.4em;
    font-weight: 100;
  }

  .fancy {
    font-family: $font-family-serif;
    font-style: italic;
  }
}


@media (max-width: 1200px) {
  .resources {

    ul:hover li {
      width: 171px;
    }

    li {
      width: 187px;
      &:hover {
        width: 250px !important;
      }
    }

  }
}

@media (max-width: 992px) {
  .resources {
    li {
      width: 143px;

      &:hover {
        width: 200px !important;
      }
    }

    ul:hover li {
      width: 128px;
    }
  }
}

@media (max-width: 768px) {


  .main {
    padding: 0 15px;
  }

  .resources ul {
		padding: 10px 0;
		width: 100%;
	}
	.resources li {
		float: none;
		padding: 20px;
		width: 100%;
		height: auto;
		margin: 0 0 1px 0;
	}
	.resources li p {
		white-space: normal;
	}
	.resources li p a {
		visibility: visible;
	}
	.resources ul:hover li{
	   width: 100%;
	}
	.resources li:hover {
	   width: 100%!important;
	   text-align: center;
	}
	.resources li:hover i {
		float: none;
		line-height: 2px;
		padding: 20px;
		margin: 0;
	}
	.resources li:hover p a {
		visibility: visible;
	}
}
